
        body
    {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      background-color: #242333;
      color: #fff;
    }
    .help{
       text-align: center;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       margin-top:  60px;
       font-size: medium;

    }
    .seatStructure {
  perspective: 1000px;
  margin-bottom: 30px;
}

    #Username
    {
      border:none;
      border-bottom:1px solid;
    }

    .screen
    {
      height: 80px;
      width: 100%;
      background:#f7f8f9;
      color:rgb(18, 17, 17);
      line-height:70px;
      text-align: center;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      box-shadow: 0 3px 1px rgba(255, 255, 255, 0.7);
      margin-top: 30px;
      margin-bottom: 50px;

    }

     .smallBox::before
    {
      content:".";
      width:32px;
      height:26px;
      float:left;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .greenBox::before
    {
      content:"";
      background:Green;

    }

    .redBox::before
    {
      content:"";
      place-content: center ;
      background:Red;
      padding-block: right;

    }
    .emptyBox::before
    {
      content:"";
      width: 32px;
      height: 26px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
      background-color:#ccc;
    }

    .seats
    {
      border:1px solid rgb(0, 255, 128);background:rgb(51, 255, 0);

      content:"";
      background:rgb(0, 255, 13);

      width:32px;
      height:26px;
      float:center;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .seatsdum
    {
      content:"";
      background:Red;
    }



    .seatGap
    {
      width:100px;
    }

    .seatVGap
    {
      height:80px;
    }
    .smallBox.greenBox1::before
    {
      content:".";
      width:18px;
      height:13px;
      float:left;
      margin-right:10px;
      margin-left:30px;
      margin-bottom: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background:Green;
    }
    .smallBox.redBox1::before
    {
      content:".";
      width:18px;
      height:13px;
      float:left;
      margin-left:30px;
      margin-right:10px;
      margin-bottom: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background:Red;
    }
    .smallBox.emptyBox1::before
    {
      content:".";
      width:18px;
      height:13px;
      float:left;
      margin-left:30px;
      margin-right:10px;
      margin-bottom: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color:#ccc;
    }

    table
    {
      text-align:center;
    }


    .Displaytable
    {
      text-align:center;
    }
    .Displaytable td, .Displaytable th {
        border: 10px solid;
        text-align: left;
    }

    textarea
    {
      border:none;
      background:transparent;
    }



    input[type=checkbox] {
        width:32px;
        margin-right:10px;
        margin-left:10px;
    }

    input[type=checkbox]:before {
        content: "";
        width: 32px;
        height: 26px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: inline-block;
        vertical-align:middle;
        text-align: center;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
        background-color:#ccc;
    }

    input[type=checkbox]:checked:before {
        background-color:Green;
        font-size: 15px;
    }
