<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styleAbout.css">
</head>
<body>

    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
           <div class="row">
              <div class="col-lg-12">
                 <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a href="#" class="navbar-brand">MOVIE TICKET BOOKING SYSTEM</a>
                 </div>
                 <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                       <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                       <li>
                          <ul class="dropdown-menu">
                             <li><a href="/signup">Contact Us</a></li>
                          </ul>
                       </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                       <li>
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                             <li><a href="/login">Login</a></li>
                             <li><a href="/signup">Sign Up</a></li>
                              <li><a href="/admin_login">Admin Login</a></li>
                          </ul>
                       </li>
                      
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </nav>
     <h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="static\img\abi.jpeg" alt="Abishek" style="width:50%">
      <div class="container">
        <h2>Abishek Arumugam</h2>
        <p class="title">Scrum Master</p>
        <p>ab_arumu@live.concordia.ca</p>
   
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static\img\manish.jpeg" alt="Manish" style="width:54%">
      <div class="container">
        <h2>Manish Pejathaya</h2>
        <p class="title">Product owner</p>
        <p>m_pejath@live.concordia.ca</p>
      
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static\img\Srinidhi (2).jpeg" alt="Srinidhi" style="width:54%">
      <div class="container">
        <h2>Srinidhi Honakere Srinivas</h2>
        <p class="title">Developer</p>
        <p>s_honake@live.concordia.ca</p>
      
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="static\img\wasay.jpeg" alt="Wasay" style="width:54%">
      <div class="container">
        <h2>Mohammad Abdul Wasay Ejaz</h2>
        <p class="title">Developer</p>
        <p>mu_ejaz@live.concordia.ca</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="static\img\mohamad_.jpeg" alt="Mohamad" style="width:54%">
      <div class="container">
        <h2>Mohammad Alikhanizanjani</h2>
        <p class="title">Developer</p>
        <p>mo_alikh@live.concordia.ca</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>