<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../static/css/styleTicketView.css">
      <title>Tickets</title>
   </head>
   <body style="background-color: black;">
      <nav class="navbar navbar-inverse ">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="navbar-header">
                     <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                     <a href="#" class="navbar-brand">MOVIE TICKET BOOKING SYSTEM</a>
                  </div>
                  <div class="navbar-collapse collapse" id="mobile_menu">
                     <ul class="nav navbar-nav">
                        <li ><a href="{{ url_for('home') }}">Home</a></li>
                        <li>
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="/aboutUs">Contact Us</a></li>
                           </ul>
                        </li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                              <li><a href="/login">Login</a></li>
                              <li><a href="/signup">Sign Up</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </nav>
      <center>
         <h2 class="text">Ticket Details</h2>
      </center>
      <div class="image">
         <img  img src="data:;base64,{{movie_front_poster}}" width="250px" height="350px" class='plus-image',text=trailer/>
      </div>
      <div class="cardWrap">
         <div class="card cardLeft">
            <h1>Startup <span>Cinema</span></h1>
            <div class="title">
               <h2>KGF- Chapter 2</h2>
               <span>movie</span>
            </div>
            <div class="name">
               <h2>Srinidhi Honakere</h2>
               <span>name</span>
            </div>
            <div class="seat">
               <h2>156</h2>
               <span>seat</span>
            </div>
            <div class="time">
               <h2>12:00</h2>
               <span>time</span>
            </div>
         </div>
         <div class="card cardRight">
            <div class="eye"></div>
            <div class="number">
               <h3>156</h3>
               <span>seat</span>
            </div>
            <div class="barcode"></div>
         </div>
      </div>
   </body>
</html>